.tab {
  position: relative;
  padding: 0.5rem 1rem;
  padding-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}

.tab::after {
  position: absolute;
  content: "";
  bottom: 7px;
  background-color: rgba(0, 240, 233, 1);
  background: linear-gradient(
    45deg,
    rgba(0, 240, 233, 1) 0%,
    rgba(0, 170, 255, 1) 63%
  );
  width: 100%;
  height: 2px;
  left: 0;
  z-index: 2;
  transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tab + .tab {
  margin-left: 0.5rem;
}

.tabs {
  display: flex;
  position: relative;
  bottom: -8px;
}

.tabEdit {
  border: none;
}

.tab.isConfig {
  margin-left: auto;
}

.isActive::after {
  height: 6px;
}

.addTab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTab button {
  margin-bottom: 0px;
  font-size: 22px;
  padding: 8px 12px;
  position: relative;
  top: -6px;
  cursor: pointer;
  
  border: none;
  background: none;
  color: white;
}
