.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.templateEditor {
  position: relative;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
}


.button {
  display: block;
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
  color: white;
  background: transparent;
  border: 4px solid white;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 8px;
  font-size: 32px;
  appearance: none;
  cursor: pointer;
}

.button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.p {
  text-align: center;
  margin: 0 4rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 18px;
}

.button:hover {
  background: white;
  color: black;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .template {
    height: 60vh;
  }
  .p {
    margin-bottom: 2rem;
  }
}
